@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

.title {
    text-align: center;
    color: #f1df74;
    padding: 12px;
}

body {
    background-color: #00445d;
    font-family:"Poppins", sans-serif;
}

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
}

button {
    color: #12395c;
}

.display-book-form-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #ff8656;
}

.display-book-form-btn:hover {
    background-color: #ff9848;
}

.display-book-form-btn::after {
    content: "▼";
    margin-left: 12px;
}

.display-book-form-btn-collapsed::after {
    content: "▲";
}

#new-book-form {
    position: absolute;
    background-color: #ff8656;
    top: 100%;
    display: grid;
    gap: 12px;
    padding: 16px;
    margin-top: 1px;
    border: 3px solid black;
    border-radius: 8px;
}

#new-book-form.hidden {
    display: none;
}

.input-label-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
    justify-items: center;
}

input:not([type="radio"]) {
    border-radius: 8px;
    border: 2px solid grey;
    font-size: 16px;
    padding: 4px;
}

#add-book-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #03e871;
}

#add-book-btn:hover {
    background-color: #c9ffa0;
}

.read-options-container {
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;
}

.books-container {
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
}

.advice {
    text-align: center;
    color: #d33e64;
}

.book-card {
    background-color: #15274d;
    border: 3px solid #00b3da;
    border-radius: 12px;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    */
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 8px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 16px;
    color: #eaba49;
}

.book-author {
    font-size: 18px;
    color: #efe666;
}

.book-pages {
    font-size: 16px;
    color: #dedb13;
}

.book-title, .book-author, .book-pages {
    text-align: center;
}

.book-image {
    object-fit: contain;
    width: 100%;
    height: 300px;
    object-position: center;
}

.book-pages::before {
    content: "Number of Pages: ";
    font-weight: bold;
}

.book-buttons-container {
    align-self: end;
    justify-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.book-buttons-container > button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.book-read-btn {
    background-color: #fff049;
}

.book-read-btn:hover {
    background-color: #efe463;
}

.book-read-btn.read {
    background-color: #5ee487;
}

.book-read-btn.read:hover {
    background-color: #8fffc6;
}

.delete-book-btn {
    background-color: #ff1340;
}

.delete-book-btn:hover {
    background-color: #d33e64;
}